<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>

    <link rel="stylesheet" href="style.css">

    <script src="./jquery-3.5.1.js"></script>

</head>

<body>

    <div id="box">
        <form action="/" id="form_data" method="POST">
            <input type="text" name="task" id="task" placeholder="Enter Your Task">


            <input class="radio" type="radio" name="type" id="important" value="Important">
            <label for="important" id="important">Important</label>
            <div></div>
            <input id="submitbtn" type="submit" value="Add Task">
        </form>
    </div>


    <div id="taskbox">
        <div id="tasks">

        </div>
    </div>

</body>

</html>

<script src="./script.js"></script>
<script>
    loadtasks();
</script>
</div>