<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{docname}}</title>

    {{!-- materialize css --}}
    <link rel="stylesheet" href="/css/materialize.css">

    {{!-- Font --}}
    <link rel="stylesheet" href="/fonts/firacode.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{!-- materialize js --}}
    <script defer src="/js/jquery-3.5.1.js"></script>
    <script async defer src="/js/popper.js"></script>
    <script async defer src="/js/materialize.js"></script>

    {{!-- common css --}}
    <link rel="stylesheet" href="/app/common.css">

    {{!-- common js --}}
    <script async defer src="/app/common.js"></script>

</head>

<body>

    {{!-- <h1>Hi!! => </h1> --}}

    {{!-- <p>Click the button to display the time.</p>

    <button onclick="getElementById('demo').innerHTML=Date()">What is the time?</button>

    <p id="demo"></p> --}}

    <div id="navbar"></div>
    <div id="cards"></div>
    {{!-- <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a> --}}
    <div id="footer"></div>

</body>

</html>