<title>Post Your Meme</title>

<form action="/memeadd/add" method="post" enctype="multipart/form-data">
    <input type="text" name="memetitle" id="">
    <input type="file" name="memeimg">
    <input type="submit">
</form>

<img src="../images/51310067.jpeg">