<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{docname}}</title>

    {{!-- materialize css --}}
    <link rel="stylesheet" href="/css/materialize.css">

    {{!-- Font --}}
    <link rel="stylesheet" href="/fonts/firacode.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{!-- materialize js --}}
    <script async defer src="/js/jquery-3.5.1.js"></script>
    <script async defer src="/js/popper.js"></script>
    <script async defer src="/js/materialize.js"></script>

    {{!-- common css --}}
    <link rel="stylesheet" href="/app/common.css">

    {{!-- common js --}}
    <script async defer src="/app/common.js"></script>

</head>

<body>

    <div id="navbar"></div>
    <div id="cards"></div>
    <a href="/memeadd" class="btn-floating halfway-fab waves-effect waves-light red" id="fixedbutton"><i
            class="material-icons" id="fixedbuttonsize">add_to_photos</i></a>
    <div id="footer"></div>

</body>

</html>

<style>
    #fixedbutton {
        position: fixed;
        font-size: 4rem;
        bottom: 10px;
        right: 10px;
    }

    #fixedbuttonsize {
        font-size: 30px;
        font-weight: 700;
    }
</style>