<nav class="navbar-fixed" style="position: sticky;">
    <div class="nav-wrapper" style="background-color: rgb(54, 51, 51);">
        <a href="/" class="brand-logo" style="font-weight: 800;">Meme Page</a>
        <!-- <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
        <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul> -->
    </div>
</nav>

<!-- <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">JavaScript</a></li>
</ul> -->
<!-- 
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script> -->